.menu{

}
.header{
  text-align: center;
  font-family: fantasy;
}
.main .head{
  text-align: center;
}
.menu--items{
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #ccc;
}
.menu--item{
  display: inline-block;
  margin: 10px;
}
.menu--item .menu--item{
  display: none;
}
.menu--item:hover .menu--item{
  display: block;
}
@media (min-width:640px) and (max-width:480px) {
  .main{
    font-size: 24px;
  }
}
.footer{
  text-align: center;
  background-color: black;
  color: white;
}
